* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  min-height: 100vh;
  background: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}